@model EcomAppProject.Models.Processor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorPictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorPictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessorPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessorPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProcessorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
