@model IEnumerable<EcomAppProject.Models.Processor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessorPictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessorPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessorPictureURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessorPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcessorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcessorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcessorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
