@model EcomAppProject.Models.CustomerConfiguredModelOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerConfiguredModelOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerConfiguration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerConfiguration.CustomerConfigID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerConfiguredModelOrderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
