@model IEnumerable<EcomAppProject.Models.CustomerConfiguredModelOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfigurationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerConfiguration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigurationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerConfiguration.CustomerConfigID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerConfiguredModelOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerConfiguredModelOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerConfiguredModelOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
