@model IEnumerable<EcomAppProject.Models.CustomerConfiguration>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer Configuration</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfigurationPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VGA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antivirus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigurationPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processor.ProcessorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memory.MemoryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VGA.VGAID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Antivirus.AntivirusID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerConfigID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerConfigID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerConfigID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
