@model IEnumerable<EcomAppProject.Models.VGA>

@{
    ViewData["Title"] = "Index";
}

<h1>VGA Cards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VGADescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VGAPictureURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VGAPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VGADescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VGAPictureURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VGAPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VGAID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VGAID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VGAID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
