@model EcomAppProject.Models.Model

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelPictureURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelPictureURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultRAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultRAM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultVGA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultVGA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultProcessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultProcessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultOS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultOS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultAntivirus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultAntivirus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultModelPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultModelPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Series)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Series.SeriesID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
